@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'News Cycle', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main{
    flex-direction: column;
    padding: 20px;
  }
  .main .responsiveWd {
    padding: 0;
    width: 100%;
  }
  .main > .justify-center{
    justify-content: start;
    
  }
  .reponsiveHg{
    height: 100%;
  }
  .lateral{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 50%;
    display: flex;
  }
  .menu-display{
    display: none;
  }
  .backButton,
  .menuButton{
    display: flex;
  }
  .responsive-margin{
    margin-left: 0;
  }
  .responsive-item form{
    margin: 0 auto;
  }
  .display-reponsive{
    display: flex;
  }
}
@media screen and (max-width: 767px) {  
  .main{
    flex-direction: column;
  }
  .main .responsiveWd {
    padding: 0;
    width: 100%;
  }  
  .responsive-margin{
    margin-left: 0;
  }
  .reponsiveHg{
    height: 100%;
  }
  .lateral{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    display: flex;
  }
  .lateral img{
    height: 350px;
  }
  .backButton,
  .menuButton{
    display: flex;
  }
  .menu-display{
    display: none;
  }
  .display-reponsive{
    display: flex;
  }
}
.no-outline:focus {
  outline: none;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 6px;
  border: 3px solid #fff;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px;
}
.list{
  position: relative;
  
}
.sombra {
  position: fixed;  
  width: 100%;
  box-shadow: inset 0px -20px 22px -20px #0108145e;
  pointer-events: none;
  overflow: hidden;
}


